/*
Selectores en CSS:
1) Las etiquetas de HTML
2) Las clases
3) EL id
*/

/*
 font-weight 100, 300, 500, 600, 700
 100 = Thin
 300 = Light
 400 = Regular
 500 = Medium
 600 = Semibold
 700 = Bold
 800 = Extra Bold
 900 = Black
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

header{
  height: 60px;
  left: 0;
  padding-top: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

footer{
  background: black;
  /*padding o margin*/
  /*padding: padding-top, padding-right, padding-bottom, padding-left */
  /*padding: padding-top && padding-bottom, padding-right && padding-left*/
  padding: 20px 0 30px 0;
}
footer figure,
footer h2,
footer p{
  text-align: center;
}

footer h2,
footer p{
  color:white;
}

footer h2{
  font-size: 20px;
}

footer figure img{
  width: 60px;
}


img{
  max-width: 100%;
}

.container{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1300px;
}

.home h2{
  font-size: 24px;
}

.home-banner{
  height: 600px;
  position: relative;
}

.home-banner article{
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
}



.home-banner a{
  align-items: center;
  background: white;
  border-radius: 14px;
  color: #03040E;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  height: 49px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s;
  text-decoration: none;
  width: 246px;
}

.home-banner a:hover{
  background: #03040E;
  color: white ;
  transform: scale(1.1);
}

.home-banner h1,
.home-banner p{
  color: white;
}

.home-banner h1{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
}

.home-banner p{
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.home-section-b-list figure{
  margin: 0;
  padding: 0;
}
.home-section-b-list{
  text-align: center;
}
.home-section-b-list article{
  margin-top: 40px;
}
.home-list figure{
  margin: 20px 0 0 0;
  padding: 0;
}

.home-list figure img{
  width: 310px;
}

.home-section-b-list h4,
.home-section-b-list p{
  margin-bottom: 0;
  margin-top: 0;
}

.home-section-b-list h4{
  color: #929292;
  font-size: 14px;

}

.home-section-b-list h3{
  font-size: 20px;
  margin: 10px 0;
}
.home-section-b-list p{
  font-size: 14px;
}

.line{
  border-top: 1px solid #E5E5E5;
}

/*
PARA EL MEDIA QUERY
 - Usando max-width = usamos la tendencia Responsive Web Design
 - Usando min-width = usamos la tendencia Mobile First
*/

@media screen and (max-width: 1023px){
  .home-banner{
    background-color: #182572;
  }
  .container{
    padding: 0px 15px;
  }
}

@media screen and (min-width: 768px){
  .home-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px){
  .home section{
    margin-top: 30px;
  }
  .home section:nth-of-type(1){
    margin-top: 0;
  }

  .home-banner{
    background-image: url("../img/back-banner.png");
    background-position: center;
    background-size: contain;
    height: 706px;
  }
  .home-banner article{
    bottom: 42px;
  }
  .home-section-b-list{
    display: flex;
    justify-content: space-between;
  }
  .home-section-b-list article{
    align-items: center;
    display: flex;
    margin-top: 0;
  }
  .home-section-b-item-descrip{
    text-align: left;
    width: 200px;
  }
  .home-section-b-item-img{
    margin-right: 20px;
    width: 200px;
  }
  footer{
    margin-top: 50px;
  }
  footer h2{
    font-size: 24px;
  }
  footer figure img{
    width: 82px;
  }
  .home-list figure{
    margin-top: 0;
  }
}
